<!-- Base look -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CJ Music Website</title>
    <!-- do not mess with the style sheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/index.css')}}">
    <!-- remove the shortcut icon. -->
    <link rel="shortcut icon" href="{{url_for('static', filename='Images/shortcut.ico')}}">
</head>
<body>
    <!--//// Header //////
       //////////////////-->
    <header>
        <!-- Navigation Bar -->
        <nav>
            <ul>
            <!-- This section makes all the tabs on top of the website -->
            {% for t in TOP %}
            <li><a href="{{t[1]}}">{{t[0]}}</a></li>
            {% endfor %}
            <li style="float:right;" class = "signin-bord"><a href="/sign-up/">Sign Up</a></li>
        </ul>
    </nav>
    <!-- <h1>This is the website for CJ</h1>  -->
    </header>

<!--//// Main Body ///
    //////////////////-->
    <main>
        <section class="main-body">
            <div class="content-wrap">
                
            </div>
        </section>
    </main>

    <!--//// Footer //////
       //////////////////-->
    <footer>
        <div class="content-wrap">
            <!-- Social media and contact links. Add or remove any networks. -->
            <div class="contact-info">
                <a href="mailto:email@example.com">email@example.com</a>
                <a href="http://yourwebsite.com">yourwebsite.com</a>
                <a href="#">Twitter</a>
                <a href="#">LinkedIn</a>
                <a href="#">Facebook</a>
            </div>
        
        <p>Copyright 2018 by CJ Suchovsky</p>
        </div>
    </footer>

</body>
</html>